<div id="<%= dom_id recipe_ingredient %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Recipe:</strong>
    <%= recipe_ingredient.recipe_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ingredient:</strong>
    <%= recipe_ingredient.ingredient_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this recipe ingredient", recipe_ingredient, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this recipe ingredient", edit_recipe_ingredient_path(recipe_ingredient), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
