<div class="flex flex-col gap-5">
  <%= form_with(model: recipe, id: 'recipe_form', data: {turbo: true}) do |form| %>
    <% if recipe.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="flex flex-col gap-8">
      <div class="flex items-center gap-2">
        <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 w-full" %>
        <%= form.submit "Save", class: "rounded-lg bg-blue-600 text-white p-2 min-w-32" %>
        <% if params[:action] == 'edit' %>
          <%= link_to "Delete", recipe_path(recipe), data: { turbo: true, turbo_method: :delete },
          class: "rounded-lg bg-red-500 text-white p-2 min-w-32 flex justify-center" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= turbo_frame_tag "included_ingredients_turbo_frame" do %>
    <% recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <%= render 'ingredient_form', recipe_ingredient: %>
    <% end %>
  <% end%>
  <%= render "add_ingredients", ingredients: @ingredients_not_in_recipe, recipe_id: recipe.id%>
</div>