<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flex items-center gap-2">
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 w-full" %>
  </div>

  <div>
    <p>Ingredients:</p>
    <div class="flex flex-col">
      <% recipe.ingredients.each do |ingredient| %>
        <p><%= ingredient.name %></p>
      <% end %>
    </div>
  </div>

  <div class="field my-5">
    <%= form.label :ingredient_ids, "Select Ingredients" %>
    <%= form.collection_select :ingredient_ids, Ingredient.all, :id, :name, {}, { multiple: true } %>
  </div>

  <div class="flex gap-2">
    <%= form.submit class: "rounded-lg bg-blue-600 text-white p-2" %>
    <%= link_to "Back to Recipe List", recipes_path, class: "rounded-lg bg-blue-500 text-white p-2" %>
  </div>
<% end %>
