<div class="flex justify-between gap-4" id=<%= dom_id(recipe_ingredient) %>>
    <p><%= recipe_ingredient.ingredient.name %></p>
    <%= form_with(model: recipe_ingredient) do |form| %>
        <%= form.text_field :quantity, value: recipe_ingredient.quantity, class: "w-1/4" %>
        <%= form.select :ingredient_unit, IngredientUnit.all.order(:type).order(:name)
            .map { |unit| [unit.name, unit.id]}, { selected: recipe_ingredient.ingredient_unit }, class: "w-1/4" %>
        <%= form.submit "Update" %>
    <% end %>
    <%= button_to recipe_ingredient_path(recipe_ingredient), method: :delete, data: { turbo: true } do %>
        <i class="fas fa-trash text-red-500"></i>
    <% end %>
</div>