<%= turbo_frame_tag dom_id(recipe_ingredient) do %>
    <div class="flex justify-start gap-3 items-center">
    <%= form_with(model: recipe_ingredient, data: { turbo: true }) do |form| %>
        <% quantities = ['1/4', '1/2', '3/4', '1', '2'] %>
        <%= recipe_ingredient.ingredient.name %>
        <%= form.select :quantity, quantities.map { |fraction| [fraction, fraction_to_float(fraction)] },
        { selected: recipe_ingredient.quantity.to_s }, { onchange: "submitForm(this.form)" } %>
        <%= form.collection_select :ingredient_unit_id , IngredientUnit.all, :id, :name, { onchange: "submitForm(this.form)" } %>
    <% end %>
    <%= button_to recipe_ingredient_path(recipe_ingredient), method: :delete do %>
        <i class="fas fa-trash text-red-500"></i>
    <% end %>
    </div>
<% end %>

<script>
function submitForm(form) {
    form.submit();
}
</script>