<% quantities = [nil, '1/8', '1/4', '3/8', '1/2', '5/8', '3/4', '7/8', '1', '2', '3', '4', '5'] %>
<%= form_with(model: @recipe, url: recipe_path(@recipe), method: :patch) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

    <% @recipe.recipe_ingredients.order(:id).each do |recipe_ingredient| %>
        <%= form.fields_for :recipe_ingredients, recipe_ingredient do |ingredient_fields| %>
            <p class="w-3/5 text-wrap break-normal overflow-hidden truncate"><%= recipe_ingredient.ingredient.name %></p>
            <%= ingredient_fields.select :quantity, quantities.map { |quantity| [fraction_to_float(quantity), fraction_to_float(quantity)] }, { selected: recipe_ingredient.quantity.to_s } %>
            <%= ingredient_fields.collection_select :ingredient_unit_id, IngredientUnit.all.order(:type).order(:name),
                                                    :id, :name, { selected: recipe_ingredient.ingredient_unit_id } %>
        <% end %>
     <% end %>

  <%= form.submit "Update Recipe" %>
<% end %>
