<%= turbo_frame_tag "recipe_card_#{dom_id recipe}", class: 'w-full' do %>
  <div id="<%= dom_id recipe %>" class="w-full border border-blue-500 bg-blue-200 border-2 bg-neutral-300 rounded-xl mt-2">
    <div class="flex p-2 justify-between">
      <p class="text-2xl text-wrap break-normal overflow-hidden truncate p-2"><%= recipe.name %></p>
      <%= button_to planning_planning_recipe_path(@planning, @planning.planning_recipes.find_by(recipe_id: recipe.id)),
                    method: :patch do %>
        <i class="fas fa-refresh"></i>
      <% end %>
    </div>
    <hr class="border-t-2 border-blue-500">
    <div class="flex flex-col p-2">
      <% recipe.ingredients.order(:name).each do |ingredient| %>
        <p class="text-wrap break-normal overflow-hidden truncate"><%= ingredient.name %></p>
      <% end %>
    </div>
  </div>
<% end %>